@{
    ViewData["Title"] = "Home Page";
}

<div class="th-hero-wrapper hero-6" id="hero">
    <div class="hero-slider-6 th-carousel" id="heroSlide6" data-slide-show="1" data-md-slide-show="1" data-fade="true">
        <div class="th-hero-slide">
            <div class="th-hero-bg" >
                <img src="~/images/hero1.png" alt="Hero Image">
            </div>

            <div class="container">
        
                <div class="hero-style6">

                    <h1 class="hero-title" data-ani="slideindown" data-ani-delay="0.7s">Insurance Creates Wealth For Everyone</h1>
                    <h4 class="text-white mb-0" data-ani="slideindown" data-ani-delay="0.4s">TotalCare is your pathway to</h4>
                    <h4 class="text-white mb-0" data-ani="slideindown"  data-ani-delay="0.1s">shields you from unexpected medical costs</h4>
                    <div class="checklist" data-ani="slideinup" data-ani-delay="0.1s">
                       
                    </div>
                    <br>
                    <br>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <div class="btn-group" data-ani="slideinup" data-ani-delay="0.5s">
                            <a href="/Authentication/Register" class="th-btn style6 ">Register Now<i class="fas fa-long-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="th-hero-slide">
            <div class="th-hero-bg"><img src="~/images/hero2.png" alt="Hero Image"></div>
            <div class="container">
                <div class="hero-style6">
                    <h1 class="hero-title" data-ani="slideindown" data-ani-delay="0.7s">The Best Insurance Begins Here</h1>
                    <h4 class="text-white mb-0" data-ani="slideindown" data-ani-delay="0.4s">Discover the ultimate insurance solutions</h4>
                    <h4 class="text-white mb-0" data-ani="slideindown"  data-ani-delay="0.1s">right at your fingertips</h4>
                    <div class="checklist" data-ani="slideinup" data-ani-delay="0.1s">
                       
                    </div>
                    <br >
                    <br >
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <div class="btn-group" data-ani="slideinup" data-ani-delay="0.5s">
                            <a href="/Authentication/Register" class="th-btn style6 ">Register Now<i class="fas fa-long-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
@{
    var aboutus = ViewData["contactInfo"] as Aboutu;
}

<div class="space overflow-hidden" id="aboutus">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xxl-7 col-lg-6 mb-lg-0 mb-40">
                <div class="about-thumb4">
                    <div class="img1"><img class="tilt-active" src="~/HomeAssets/img/normal/about_4-1.png" alt="About"></div>
                    <div class="img2"><img class="tilt-active" src="~/HomeAssets/img/normal/about_4-2.png" alt="About"> </div>
                    <div class="about4-dot shape-mockup jump" data-bottom="-38px" data-left="-36px"><img src="~/HomeAssets/img/shape/dots.png" alt="img"></div>
                </div>
            </div>
            <div class="col-xxl-5 col-lg-6">
                <div class="title-area mb-30">
                    <span class="sub-title">About Company</span>
                    <h2 class="sec-title">We're Here To Assist You With Exploring Protection.</h2>
                </div>
                <p class="mt-n1 mb-30">@aboutus.History</p>
                <div class="row gx-30 align-items-center">
                 
                    <div class="col-sm-auto">
                        <div class="checklist">
                            <ul>
                                <li><i class="fa fa-check-circle"></i> 24/7 Call Services Available</li>
                                <li><i class="fa fa-check-circle"></i> Expert Team Members</li>
                                <li><i class="fa fa-check-circle"></i> How to Secure Your Future</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
              
            </div>
        </div>
    </div>
</div>


<!-- Service Start -->
<div class="container-xxl py-5" >
    <div class="container"> 
        <div class="title-area mb-30 text-center" id="services">
            <span class="sub-title">Our Insurance</span>
            <h2 class="sec-title">Amazing Insurance Services</h2>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded h-100 p-5">
                    <div class="service-box style3">
                        <div class="service-box_thumb">
                            <img src="~/HomeAssets/img/service/service_5_1.jpg" alt="img">
                            <div class="service-box_icon"><img src="~/HomeAssets/img/icon/service_icon_6_1.svg" alt="Icon"></div>
                        </div>
                        <div class="service-box_content">
                            <h3 class="service-box_title h4"><a href="service-details.html">Comprehensive Health Insurance</a></h3>
                            <p class="service-box_text">
                                Our Comprehensive Health Insurance plan not only covers your medical expenses but also allows you to add beneficiaries,
                                ensuring that your loved ones are also protected.
                            </p>
                            <br />

                            <div class="d-grid gap-2 mx-auto">

                                <button href="" type="button" class="th-btn style6 btn btn-primary py-3 px-5">
                                    Subscribe Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded h-100 p-5">
                    <div class="service-box style3">
                        <div class="service-box_thumb">
                            <img src="~/HomeAssets/img/service/service_5_3.jpg" alt="img">
                            <div class="service-box_icon"><img src="~/HomeAssets/img/icon/service_icon_6_3.svg" alt="Icon"></div>
                        </div>
                        <div class="service-box_content">
                            <h3 class="service-box_title h4"><a href="service-details.html">Individual Health Insurancee</a></h3>
                            <p class="service-box_text">
                                Our Individual Health Insurance plan provides you with essential coverage for your medical needs.
                                While this plan doesn't allow you to add beneficiaries, it offers you personalized health protection.
                            </p>
                            <br />

                            <div class="d-grid gap-2 mx-auto">

                                <button href="" type="button" class="th-btn style6 btn btn-primary py-3 px-5">
                                    Subscribe Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        
         
        </div>
</div>

<!-- Service End -->


<div class="bg-title contact-sec-2">
    <div class="contact-border-shape shape-mockup d-xl-block d-none"><img src="~/HomeAssets/img/shape/contact-img-border.png" alt="img" data-top="0" data-left="0"></div>
    <div class="container">
        <div class="contact-area">
            <div class="row justify-content-end">
                <div class="col-xl-6 align-self-end space-bottom">
                    <div class="contact-form-wrap">
                        <div class="title-area mb-40">
                            <span class="sub-title">Contact Us</span>
                            <h4 class="sec-title">Feel free to Contact us</h4>
                        </div>
                        <form action="https://themeholy.com/html/insurax/demo/mail.php" method="POST" class="contact-form2">
                          
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="row">
                                       
                                        <div class="form-group">
                                            <input type="text" class="form-control style-white" id="gname" placeholder="Your Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control style-white" id="gmail" placeholder="Your Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control style-white" id="cname" placeholder="Your Mobile">
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea class="form-control style-white" placeholder="Leave a message here" id="message" style="height: 80px"></textarea>
                                               
                                            </div>
                                        </div>
                                    </div>
                                 
                                    <div class="btn-group form-btn col-12"><button class="th-btn">Send <i class="far fa-arrow-right"></i></button></div>
                                </div>
                               
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="testimonial-sec5 space-top" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="title-area">
                    <span class="sub-title">Testimonials</span>
                    <h2 class="sec-title">What client say About Us</h2>
                </div>
                <div class="testimonial-slider5-arrow mb-lg-0 mb-30"><button data-slick-prev="#testimonial-slider5" class="slick-arrow slick-prev"><i class="fa-regular fa-arrow-left-long"></i></button> <button data-slick-next="#testimonial-slider5" class="slick-arrow slick-next"><i class="fa-regular fa-arrow-right-long"></i></button></div>
            </div>
            <div class="col-lg-8">
                <div class="th-carousel testi-slider5" id="testimonial-slider5" data-slide-show="2" data-lg-slide-show="1" data-dots="false" data-arrows="false">
                    <div class="testi-box5">
                        <div class="testi-box_wrap">
                            <div class="testi-box_avater">
                                <div class="thumb"><img src="~/HomeAssets/img/testimonial/testi_5_1.png" alt="testimonial"></div>
                            </div>
                            <div class="testi-box_content">
                                <h4 class="testi-box_title h6">“Good Services” <span class="review-rating"><span><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i></span></span></h4>
                                <p class="testi-box_text">The website should have a user-friendly design that is easy to navigate, with clear calls-to-action that guide the user.</p>
                                <div class="media">
                                    <div class="media-left">
                                        <h3 class="testi-box_name h6">Ronald Richards</h3>
                                        <span class="testi-box_desig">UI Designer.</span>
                                    </div>
                                    <div class="media-body"><i class="fa fa-quote-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi-box5">
                        <div class="testi-box_wrap">
                            <div class="testi-box_avater">
                                <div class="thumb"><img src="~/HomeAssets/img/testimonial/testi_4_2.png" alt="testimonial"></div>
                            </div>
                            <div class="testi-box_content">
                                <h4 class="testi-box_title h6">“Best Services” <span class="review-rating"><span><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i></span></span></h4>
                                <p class="testi-box_text">Insurance is a highly regulated industry, and customers want to feel confident that they are working with a reputable provider.</p>
                                <div class="media">
                                    <div class="media-left">
                                        <h3 class="testi-box_name h6">Kristin Watson</h3>
                                        <span class="testi-box_desig">General Manager</span>
                                    </div>
                                    <div class="media-body"><i class="fa fa-quote-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi-box5">
                        <div class="testi-box_wrap">
                            <div class="testi-box_avater">
                                <div class="thumb"><img src="~/HomeAssets/img/testimonial/testi_3_1.png" alt="testimonial"></div>
                            </div>
                            <div class="testi-box_content">
                                <h4 class="testi-box_title h6">“Awesome Services” <span class="review-rating"><span><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i></span></span></h4>
                                <p class="testi-box_text">Insurance customers may have questions or concerns that require assistance from customer support representatives.</p>
                                <div class="media">
                                    <div class="media-left">
                                        <h3 class="testi-box_name h6">Ralph Edwards</h3>
                                        <span class="testi-box_desig">Chief Executive</span>
                                    </div>
                                    <div class="media-body"><i class="fa fa-quote-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi-box5">
                        <div class="testi-box_wrap">
                            <div class="testi-box_avater">
                                <div class="thumb"><img src="~/HomeAssets/img/testimonial/testi_4_1.png" alt="testimonial"></div>
                            </div>
                            <div class="testi-box_content">
                                <h4 class="testi-box_title h6">“Better Services” <span class="review-rating"><span><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i></span></span></h4>
                                <p class="testi-box_text">Insurance websites should provide clear and concise information about their products, coverage options, and pricing.</p>
                                <div class="media">
                                    <div class="media-left">
                                        <h3 class="testi-box_name h6">Dianne Russell</h3>
                                        <span class="testi-box_desig">Web Developer</span>
                                    </div>
                                    <div class="media-body"><i class="fa fa-quote-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
